<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>slogan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script src="../js/lib/rem.js" type="text/javascript"></script>
    <style>
		*{ margin:0; padding:0;  box-sizing: border-box; -webkit-box-sizing: border-box;}
		html, body { height:100%; width:100%;font-size:12px; -webkit-text-size-adjust:none;}
    </style>
</head>
<body>
<div class="page_title" style="width: 100%;height: 100%;background: url('temimg/tem-bg2.jpg') no-repeat;background-size: 100% 100%;padding-top: 0.6rem;">
   <div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin:auto;background: rgba(0,0,0,0.2);z-index: 9;"></div>
     <div class="slogan-title" contenteditable="true" style=" width: 100%;text-align: center;color: #fff;font-size: 0.28rem;line-height: 0.30rem; -webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;position: relative;z-index: 99;">THE PAI/可编辑删除</div>

    <div class="slogan-info" style="  width: 4.72rem;height: 5.81rem;margin: 1.82rem auto 0;position: relative;z-index: 99;">
        <img src="temimg/slogan-temp2.png" style="width: 100%;height: 100%;">
        <div class="slostore-info" style="position: absolute;left: 0rem;top: 1.98rem;width: 100%;overflow: hidden;">
        	    <div class="slogan-title" contenteditable="true" style=" width: 100%;text-align: center;color: #f7ab00;font-size: 0.54rem;line-height: 0.54rem; -webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">微店商城</div>
 			<div class="slogan-edit" contenteditable="true" style=" width: 100%;text-align: center;color: #f7ab00;font-size: 0.24rem;line-height: 0.24rem;margin-top: 0.16rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap; overflow: hidden;">新品上线/可编辑</div>
           
        </div>
    </div>
</div>
</body>
</html>