<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script src="../js/lib/rem.js" type="text/javascript"></script>
    <style>
		*{ margin:0; padding:0;  box-sizing: border-box; -webkit-box-sizing: border-box;}
		html, body { height:100%; width:100%;font-size:12px; -webkit-text-size-adjust:none;}
    </style>
</head>
<body>
<div style="width: 100%;height: 100%;background: url('temimg/tem-bg2.jpg') no-repeat;background-size: 100% 100%;padding-top: 0.9rem;">
    <div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin:auto;background: rgba(0,0,0,0.2);z-index: 9;"></div>
    <div style=" width: 6.76rem;height:11.06rem;background:rgba(0,0,0,.3);margin: auto; top:0;bottom:0;overflow: hidden;position: absolute;z-index:99;padding-top: 0.42rem;left: 0;right: 0;">
        <div contenteditable="true" style="font-size: 0.22rem;width:100%;text-align:center;line-height: 0.36rem;color: #fff;">2016 SPRING SUMMER</div>
        <div contenteditable="true" style=" font-size: 0.38rem;width:100%;text-align:center;line-height: 0.44rem;color: #fFF;margin-bottom: 0.2rem;">HOT STYLE</div>
        
        <div id="good-list1" style=" width:6.0rem;height: 3.44rem;margin: 0.56rem auto 0;">
            <div  style="width: 3.44rem;height: 3.44rem;float: left;background: #fff;"></div>
            <div  style="width: 2.42rem;height: 100%;float: left;margin-left: 0.12rem;">
            		<div  contenteditable="true" style=" color: #fff;padding-left: 0.10rem;-webkit-box-sizing: border-box;border-bottom:solid 3px #fff;text-align:right;box-sizing: border-box;width: 100%;padding-top: 0.10rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-size: 0.32rem;line-height: 0.40rem;">NEW/2016</div>
            		<div  contenteditable="true" style=" color: #fff;padding-left: 0.10rem;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;text-align:right;padding-top: 0.10rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; font-size: 0.24rem;line-height: 0.30rem;">夏季新款长裙</div>
            		<div  contenteditable="true" style=" color: #fff;padding-left: 0.10rem;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;text-align:right;padding-top: 0.10rem;-webkit-user-select:text;margin-top:0.8rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-size: 0.30rem;line-height: 0.76rem;">RMB:1949</div>
                <input type="button" value="购买" style="width: 100%;height: 0.68rem;  font-size: 0.34rem;text-align:center;line-height: 0.68rem;border:none;text-align: center;border-radius:0.34rem;background:#fff;color: #333;">
            </div>
        </div>
        <div  id="good-list2" style=" width:6.0rem;height: 3.44rem;margin: 0.36rem auto 0;">
            <div  style="width: 3.44rem;height: 3.44rem;float: left;background: #fff;"></div>
            <div  style="width: 2.42rem;height: 100%;float: left;margin-left: 0.12rem;">
            		<div  contenteditable="true" style=" color: #fff;padding-left: 0.10rem;-webkit-box-sizing: border-box;border-bottom:solid 3px #fff;text-align:right;box-sizing: border-box;width: 100%;padding-top: 0.10rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-size: 0.32rem;line-height: 0.40rem;">NEW/2016</div>
            		<div  contenteditable="true" style=" color: #fff;padding-left: 0.10rem;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;text-align:right;padding-top: 0.10rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; font-size: 0.24rem;line-height: 0.30rem;">夏季新款长裙</div>
            		<div  contenteditable="true" style=" color: #fff;padding-left: 0.10rem;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;text-align:right;padding-top: 0.10rem;-webkit-user-select:text;margin-top:0.8rem;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-size: 0.30rem;line-height: 0.76rem;">RMB:1949</div>
                <input type="button" value="购买" style="width: 100%;height: 0.68rem;  font-size: 0.34rem;text-align:center;line-height: 0.68rem;border:none;text-align: center;border-radius:0.34rem;background:#fff;color: #333;">
            </div>
        </div>
        
    </div>

</div>
</body>
</html>