<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script src="../js/lib/rem.js" type="text/javascript"></script>
    <style>
		*{ margin:0; padding:0;  box-sizing: border-box; -webkit-box-sizing: border-box;}
		html, body { height:100%; width:100%;font-size:12px; -webkit-text-size-adjust:none;}
    </style>
</head>
<body>
<div class="page_title" style="width: 100%;height: 100%;background: url('temimg/tem-bg.jpg') no-repeat;background-size: 100% 100%;padding-top: 0.9rem;">
    <div class="img-wrap" style="width: 1.88rem;padding-top: 0.54rem;padding-left: 0.38rem;overflow: hidden;padding-bottom: 1.14rem;">
       <img src="temimg/logotemp.png" style="width: 1.50rem;height: 0.68rem;">
    </div>
    <div class="intemp-info" style="width: 100%;height: 6.20rem;background: url('temimg/intempbg.png') no-repeat;background-size: 100% 100%;padding-top: 1.70rem;padding-left: 0.65rem;">
    		<dl class="indate-list" style="width: 100%;">
    			<dt style="width: 2.15rem;height: 2.15rem;float: left;overflow: hidden;">
    				<img src="temimg/userimg.jpg" style="width: 100%;min-height: 2.15rem;">
    			</dt>
    			<dd style="width: 3.44rem;float: left;padding-left: 0.16rem;overflow: hidden;">
    				<div class="indata-name" contenteditable="true" style="width: 100%;font-size: 0.46rem;line-height: 0.50rem;height: 0.50rem;color: #161619;overflow: hidden;line-height: 0.48rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;">张蕾</div>
    				<div class="indata-engname" contenteditable="true">Keelia Zhang</div>
    				<div class="indata-job" contenteditable="true" style="width: 100%;font-size: 0.28rem;line-height: 0.76rem;height: 0.76rem;color: #333;overflow: hidden;line-height: 0.48rem;-webkit-user-select:text; border: none;text-overflow: ellipsis;white-space: nowrap;">运营总经理</div>
    				<div class="indata-com" contenteditable="true" style="width: 100%;color: #999;font-size: 0.22rem;margin-top: 1.78rem;overflow: hidden;line-height: 0.48rem;-webkit-user-select:text;border: none;height: 0.32rem;line-height: 0.32rem;text-overflow: ellipsis;white-space: nowrap;">北京派合文化传播股份有限公司</div>
    			</dd>
    		</dl>
    </div>
</div>
</body>
</html>
