<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timeline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <script src="../js/lib/rem.js" type="text/javascript"></script>
    <style>
		*{ margin:0; padding:0;  box-sizing: border-box; -webkit-box-sizing: border-box;}
		html, body { height:100%; width:100%;font-size:12px; -webkit-text-size-adjust:none;}
    </style>
</head>
<body>
<div class="page_title" style="width: 100%;height: 100%;background: url('temimg/tem-bg2.jpg') no-repeat;background-size: 100% 100%;overflow: hidden;">
        <div style="position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin:auto;background: rgba(0,0,0,0.2);z-index: 9;"></div>
        <div style="width: 7.32rem;height: 9.74rem;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;z-index: 99;">
        	  <img src="temimg/timeline-temp2.png" style="width: 100%;height:100%;display: block;">
        	   <div class="time-info" contenteditable="true" style="position: absolute;left: 2.80rem;top:0rem;z-index: 99;width: 2.28rem;height: 0.56rem;font-size: 0.28rem;line-height: 0.56rem;text-align: center;color: #fff;border-radius: 0.28rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">2002-09-09</div>
        <div class="time-info" contenteditable="true" style="position: absolute;left:1.24rem;top:5.28rem;z-index: 99;width: 2.28rem;height: 0.56rem;font-size: 0.28rem;line-height: 0.56rem;text-align: center;color: #fff;border-radius: 0.28rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">2002-09-09</div>
        <div class="time-info" contenteditable="true" style="position: absolute;left:4.54rem;top:7.0rem;z-index: 99;width: 2.28rem;height: 0.56rem;font-size: 0.28rem;line-height: 0.56rem;text-align: center;color: #fff;border-radius: 0.28rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">2002-09-09</div>
        <div class="time-info" contenteditable="true" style="position: absolute;left:2.96rem;top:9.22rem;z-index: 99;width: 2.28rem;height: 0.56rem;font-size: 0.28rem;line-height: 0.56rem;text-align: center;color: #fff;border-radius: 0.28rem;-webkit-user-select:text;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">2002-09-09</div>

        <div class="com-event" contenteditable="true" style=" position: absolute;left: 4.94rem;top:1.0rem;z-index: 99;width: 2rem;height: 0.92rem;font-size: 0.20rem;line-height: 0.30rem;margin-top: 0.16rem;color: #5723cf;-webkit-user-select:text;overflow: hidden;">北京派合公关有限公司成立于香港</div>
        <div class="com-event" contenteditable="true" style=" position: absolute;left:0.82rem;top:2.74rem;z-index: 99;width: 2.94rem;height: 0.92rem;font-size: 0.20rem;line-height: 0.30rem;margin-top: 0.16rem;color: #5723cf;-webkit-user-select:text;overflow: hidden;">北京派合公关有限公司在北京注册,成功A轮融资500万</div>
        <div class="com-event"  contenteditable="true" style=" position: absolute;left:4.40rem;top:4.88rem;z-index: 99;width: 2.43rem;height: 0.92rem;font-size: 0.20rem;line-height: 0.30rem;margin-top: 0.16rem;color: #5723cf;-webkit-user-select:text;overflow: hidden;">成功B轮融资1000万成功B轮融资1000万</div>
        <div class="com-event"  contenteditable="true" style="position: absolute;left:0.42rem;top:7.64rem; z-index: 99;width: 2.44rem;height: 0.92rem;font-size: 0.20rem;line-height: 0.30rem;margin-top: 0.16rem;color: #5723cf;-webkit-user-select:text;overflow: hidden;">北京派合公关有限公司成立于香港</div>

        </div>
      
</div>
</body>
</html>