<div class="accountmanage" ng-controller="accmanageCtrl">
  <dl class="account-info">
    <dt>
        <img src="img/userimg.jpg">
    </dt>
    <dd>
        <p class="acc-name">刘丹阳</p>
        <p class="acc-tel">15748953434</p>
    </dd>
</dl>
    <dl class="account-info">
        <dt>
            <img src="img/paihe-logo.png">
        </dt>
            <dd>
            <p class="acc-com">北京派合传播股份有限公司</p>
            </dd>
    </dl>
    <p class="unbind">解绑微信号</p>
    <div class="unbind-confo">
        <p>解绑之后将不能使用免登录功能,需要输入账号密码重新绑定,也可以绑定其它微信账号</p>
        <p><span class="cancel">取消</span><span class="confirm">确定</span></p>
    </div>
</div>