<div class="admsetting" ng-controller="admsettingCtrl">
    <ul class="adm-list">
        <li>
            <p class="add-icon"><img><i class="delicon"></i></p>
            <p class="adm-name">刘丹阳</p>
            <p class="adm-depart">产品战略部</p>
        </li>
        <li>
            <p class="add-icon"><img><i class="delicon"></i></p>
            <p class="adm-name">刘丹阳</p>
            <p class="adm-depart">产品战略部</p>
        </li>
        <li>
            <p class="add-icon"><img><i class="delicon"></i></p>
            <p class="adm-name">刘丹阳</p>
            <p class="adm-depart">产品战略部</p>
        </li>
        <li>
            <p class="add-icon"><img><i class="delicon"></i></p>
            <p class="adm-name">刘丹阳</p>
            <p class="adm-depart">产品战略部</p>
        </li>
        <li>
            <p class="add-icon"><img><i class="delicon"></i></p>
            <p class="adm-name">刘丹阳</p>
            <p class="adm-depart">产品战略部</p>
        </li>
        <li>
            <p class="add-icon"><i class="addicon"></i></p>
            <p class="adm-name addadm">新增管理员</p>
        </li>
    </ul>

</div>