<div class="cardholder overflowAut" ng-controller="cardholderCtrl" id="card_holder">
    <div class="mengC card-mengc"></div>

    <!--头部-->
    <div class="top-hold">
        <div class="top-hold-l">
            <i class="search"></i>
            <input type="button" class="logo-search">
            <input type="text" value="搜索" class="text-search focus-blur">
        </div>

        <div class="top-hold-r">
            <input type="input" class="but-apha focus-blur" value="按拼音排">
            <i class="alpha"></i>
        </div>
    </div>
    <ul class="group-info">
        <li>按拼音排</li>
        <li>按分组排</li>
    </ul>

    <!--内容-->
 <!--   <div class="main-sinpage" id="scroll-content">
        <div class="scroll-wrap">-->
            <div class="sort_box">
                <div class="sort_list">
                    <div class="swipe-info">
                        <dl>
                            <dt>
                            <div class="img-authen"><img src="img/userheader.png"/></div>
                            </dt>
                            <dd>
                                <p class="c-order-name"><span class="num_name">A</span><i class="telp"></i></p>
                                <p class="c-order-ename">summer L</p>
                                <p class="c-order-job">产品经理</p>
                                <p class="c-order-com">北京派合文化传播股份有限公司</p>
                            </dd>
                            <i class="leftswi"></i>
                        </dl>
                        <div class="my-card-edit">
                            <span>腾讯无线</span>
                            <span>9月17日见</span>
                            <span>大客户</span>
                            <span>全部标签</span>
                        </div>
                    </div>
                    <div class="oper-order">
                        <span class="card-tag">标签</span>
                        <span>分组</span>
                        <span class="card-delete">删除</span>
                    </div>
                </div>

                </div>
                <div class="sort_list">
                    <div class="swipe-info">
                        <dl>
                            <dt>
                            <div class="img-authen"><img src="img/userimg.jpg"/></div>
                            </dt>
                            <dd>
                                <p class="c-order-name"><span class="num_name">c</span><i class="telp"></i></p>
                                <p class="c-order-ename">summer L</p>
                                <p class="c-order-job">产品经理</p>
                                <p class="c-order-com">北京派合文化传播股份有限公司</p>
                            </dd>
                            <i class="leftswi"></i>
                        </dl>
                        <div class="my-card-edit">
                            <span>腾讯无线</span>
                            <span>9月17日见</span>
                            <span>大客户</span>
                            <span>全部标签</span>
                        </div>
                    </div>
                    <div class="oper-order">
                        <span  class="card-tag">标签</span>
                        <span>分组</span>
                        <span class="card-delete">删除</span>
                    </div>
                </div>
                

                <div class="sort_list">
                    <div class="swipe-info">
                        <dl>
                            <dt>
                            <div class="img-authen"><img src="img/userimg.jpg"/></div>
                            </dt>
                            <dd>
                                <p class="c-order-name"><span class="num_name">r</span><i class="telp"></i></p>
                                <p class="c-order-ename">summer L</p>
                                <p class="c-order-job">产品经理</p>
                                <p class="c-order-com">北京派合文化传播股份有限公司</p>
                            </dd>
                            <i class="leftswi"></i>
                        </dl>
                        <div class="my-card-edit">
                            <span>腾讯无线</span>
                            <span>9月17日见</span>
                            <span>大客户</span>
                            <span>全部标签</span>
                        </div>
                    </div>
                    <div class="oper-order">
                        <span  class="card-tag">标签</span>
                        <span>分组</span>
                        <span class="card-delete">删除</span>
                    </div>
                </div>
                <div class="sort_list">
                    <div class="swipe-info">
                        <dl>
                            <dt>
                            <div class="img-authen"><img src="img/userimg.jpg"/></div>
                            </dt>
                            <dd>
                                <p class="c-order-name"><span class="num_name">常濯非</span><i class="telp"></i></p>
                                <p class="c-order-ename">summer L</p>
                                <p class="c-order-job">产品经理</p>
                                <p class="c-order-com">北京派合文化传播股份有限公司</p>
                            </dd>
                            <i class="leftswi"></i>
                        </dl>
                        <div class="my-card-edit">
                            <span>腾讯无线</span>
                            <span>9月17日见</span>
                            <span>大客户</span>
                            <span>全部标签</span>
                        </div>
                    </div>
                    <div class="oper-order">
                        <span  class="card-tag">标签</span>
                        <span>分组</span>
                        <span class="card-delete">删除</span>
                    </div>
                </div>
            </div>
<!--      </div>
   </div>-->

    <!--字母索引-->
    <div id="letter"></div>
    <div class="initials">
        <ul class="ini-alpha"></ul>
    </div>

     <!--删除-->
    <div class="delete-confirm">
        <p>确定删除此项</p>
        <p><span class="cancel">取消</span><span class="confirm">确定</span></p>
    </div>

    <!--标签管理-->
    <div class="tag-manege">
        <p class="tag-title" >标签管理</p>
        <ul  class="tag-list">
            <li>腾讯无线部门<i class="delicon"></i></li>

            <li>9月17日见<i class="delicon"></i></li>
            <li>腾讯无线部门<i class="delicon"></i></li>
            <li>9月17日见<i class="delicon"></i></li>
            <li>腾讯无线部门<i class="delicon"></i></li>
            <li>9月17日见<i class="delicon"></i></li>
        </ul>
        <input type="text" value="新增标签最多六个字" class="add-tag focus-blur" >
        <input type="button" value="确定" class="add-det">
    </div>
</div>