<div class="changetel" ng-controller="changetelCtrl">
   <img class="phone-logo" src="img/Phone.png">
    <div class="unbind-bef">
        <p class="bind-phone">您已绑定手机号</p>
        <p class="bind-num">15711459389</p>
        <input type="button" value="更换手机号"  id="change-num">
        <p class="add-info">更换手机号后依然会保留你账号里所有信息</p>
    </div>
    <div class="unbind-aft">
        <div class="bind-code"><input type="button" value="发送验证码" id="bind-code"></div>
        <span class="remi-info">手机号</span><input type="text" value="">
        <hr>
        <span class="remi-info">验证码</span><input type="text" value="">
        <hr>
        <input type="button" value="提交"  id="change-sub">
        <p class="add-info">收不到验证码?</p>
    </div>
</div>