<div class="enpcard" ng-controller="enpcardCtrl">
    <div class="mengC"></div>
    <div class="share-code">
        <img src="img/share-code.png">
        <p>刘丹阳的二维码</p>
    </div>
    <!--iscroll-->
            <!--内容列表-->
            <div class="pers-cont enp-cont">
                <ul class="pers-list">
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg"/>
                            </dt>
                            <dd>
                                <p class="card-name">通用模版</p>

                                <div class="card-edit">
                                    <span>编辑</span>
                                    <span class="card-copy">复制</span>
                                    <span class="share">分享</span>
                                </div>
                            </dd>
                        </dl>
                    </li>

                </ul>
            </div>
            <div class="com-cont">
                <ul class="pers-list">
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg"/>
                            </dt>
                            <dd>
                                <p class="card-name">部门1 模版</p>
                                <div class="card-edit">
                                    <span>编辑</span>
                                    <span>复制</span>
                                    <span class="card-delete">删除</span>
                                    <span class="share">分享</span>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg"/>
                            </dt>
                            <dd>
                                <p class="card-name">部门2 模版</p>
                                <div class="card-edit">
                                    <span>编辑</span>
                                    <span>复制</span>
                                    <span class="card-delete">删除</span>
                                    <span class="share">分享</span>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
    <!--iscroll-->
</div>
<div class="delete-confirm">
    <p>确定删除此项</p>
    <p><span class="cancel">取消</span><span class="confirm">确定</span></p>
</div>
</div>