<div class="findpwback" ng-controller="findpwbackCtrl">
    <div class="userport">
        <div><img src="img/logo.png"></div>
    </div>
    <ul class="reg-list">
        <li>
            <!--找回密码-->
            <div class="reg-info">
                <div class="send-code"><input type="button" value="发送验证码" id="send-code"></div>
                <span class="remi-info">手机号</span><input type="text" value="" class="inp-padd">
                <hr>
                <span class="remi-info">验证码</span><input type="text" value="" class="inp-padd">
                <hr>
                <span class="remi-info">密码</span><input type="password" value="" class="inp-padd">
                <hr>
                <p class="pw-null">密码不能为空!</p>
                <input type="button" value="确认" id="btn-confirm" class="but-reg">
            </div>
            <p class="more-info"><span>忘记手机号</span><span>人工申述</span></p>
        </li>
    </ul>
</div>