<div ng-controller="historyrecCtrl" class="historyrecord" >
    <dl class="his-info">
    		<dt>
    			<div class="his-pic"><img src="img/userimg.jpg"></div>
    			<span>8h</span>
    		</dt>
    		<dd>
    			<div class="black-dot"></div>
    			<p class="his-name"><span>刘丹阳</span><span>产品经理</span></p>
    			<p class="his-forename">summer L</p>
    			<p class="his-com">北京派合文化传播股份有限公司</p>
    		</dd>
    </dl>
     <dl class="his-info">
    		<dt>
    			<div class="his-pic"><img src="img/userimg.jpg"></div>
    			<span>23h</span>
    			
    		</dt>
    		<dd>
    			<div class="black-dot"></div>
    			<p class="his-name"><span>刘丹阳</span><span>产品经理</span></p>
    			<p class="his-forename">summer L</p>
    			<p class="his-com">北京派合文化传播股份有限公司</p>
    		</dd>
    </dl>
    
     <dl class="his-info">
    		<dt>
    			<div class="his-pic"><img src="img/userimg.jpg"></div>
    			<span>1天前</span>
    		</dt>
    		<dd>
    			<div class="black-dot"></div>
    			<p class="his-name"><span>刘丹阳</span><span>产品经理</span></p>
    			<p class="his-forename">summer L</p>
    			<p class="his-com">北京派合文化传播股份有限公司</p>
    		</dd>
    </dl>
     <dl class="his-info">
    		<dt>
    			<div class="his-pic"><img src="img/userimg.jpg"></div>
    			<span>1周前</span>
    		</dt>
    		<dd>
    			<div class="black-dot"></div>
    			<p class="his-name"><span>刘丹阳</span><span>产品经理</span></p>
    			<p class="his-forename">summer L</p>
    			<p class="his-com">北京派合文化传播股份有限公司</p>
    		</dd>
    </dl>
  
  
</div>
