<div ng-controller="homeCtrl" class="home" >
 <div class="mengC"></div>
    <div class="aftClick">
        <a href="#/register"><div class="nameInfo">
          <div class="JacName"><img src="img/userheader.png"></div>常濯非<i class="my"></i></div>
        </a>
        <ul class="cardList">
            <li><a href="#/joinmember"><i class="VIP"></i>开通会员</a></li>
            <li><a href="#/mymcard"><i class="wdwmp"></i>微名片</a></li>
            <li><a href="#/cardholder"><i class="mpj"></i>名片夹（96)</a></li>
            <li><a href="#/mysinpage"><i class="wdy"></i>微单页</a></li>
            <li><a href="#/productlib"><i class="spk"></i>微店</a></li>
            <li><a href="#/setting"><i class="sett"></i>设置</a></li>
            <li><a href="#/systeminfo"><i class="xtxx"></i>系统消息</a></li>
        </ul>
        <ul class="cardList">
            <li><a href="#/joinmember"><i class="VIP"></i>开通会员</a></li>
            <li><a href="#/enpmanage"><i class="mpj"></i>企业管理</a></li>
            <li><a href="#/enpcard"><i class="wdwmp"></i>企业微名片</a></li>
            <li><a href="#/enpcardholder"><i class="enpcardic"></i>员工列表</a></li>
            <li><i class="spk"></i>企业商品库</li>
            <li><i class="wdy"></i>企业微单页</li>
            <li><a href="#/historyrecord"><i class="lsjl"></i>历史记录</a></li>
            <li><a href="#/setting"><i class="sett"></i>设置</a></li>
            <li><a href="#/systeminfo"><i class="xtxx"></i>系统消息</a></li>
        </ul>
        <div class="sett-footer">
            <span class="personal"><i class="personal"></i>个人</span>
            <span class="company"><i class="company"></i>公司</span>
        </div>
    </div>
    <footer>
        <div class="myCard"><img src="img/userheader.png"></div>
        <i class="all"></i>
        <ul class="all-list">
            <li><span>呼叫</span><i class="tel"></i></li>
            <li><span>微店</span><i class="wei"></i></li>
            <Li><span>收藏</span><i class="shou"></i></Li>
            <li><span>交换</span><i class="change"></i></li>
        </ul>
    </footer>
  
</div>
