<div ng-controller="joinmemberCtrl" class="joinmember" >
    <ul class="card-header">
        <li class="active">个人版</li>
        <li>企业版</li>
    </ul>
    <div class="pers-mem">
        <div class="cir-box">
            <div class="circle-pers">
                <p>微信支付</p>
                <p>$ 660</p>
            </div>
        </div>
        <div class="fee-info">
            <p class="year-fee">微名片账号年度使用费用 <span>$ 360</span></p>
            <p>微名片平台入口权限开通 <span>$ 300</span></p>
        </div>
        <button class="but-next">下一步</button>
    </div>
    <div class="com-mem">
        <div class="com-logo">
            <div class="logoimg"><img src="img/logo.png"></div>
            <p>-企业版-</p>
        </div>
        <p class="c-service">企业版请咨询客服</p>
        <p class="c-number">400-8888-8888</p>
        <i class="com-telp"></i>
    </div>

</div>

