<div class="mcardedit" ng-controller="mcardeditCtrl">
	
	<!--添加资料-->
	<div class="mcard-data">
		<div class="logo-edit">
			<div class="photo-pos"><div class="photo_wrap"><span class="sp_box"><img src="img/logo.png"></span></div><span class="logo_box">编辑头像</span></div>
			<div class="photo-pos"><div class="photo_wrap"><span class="sp_box"><img src="img/userimg.jpg"></span></div><span class="logo_box">公司logo</span></div>
			<!--<div class="photo-pos"><div class="p_img"></div><span>编辑头像</span></div>
			<div class="photo-pos"><div class="p_img"></div><span>公司logo</span></div> -->
		</div>
		<div class="white-space"></div>
		<ul class="data-list">
			<li><span>名片名称：</span><input type="text" class="title" value=""></li>			
			<li><span>中文名：</span><input type="text" class="name" value=""></li>
			<li><span>公司名称：</span><input type="text" class="company" value=""></li>
			<li><span>职位：</span><input type="text" class="duty" value=""></li>
			<li><span>手机：</span><input type="text" class="phone" value=""></li>	
		</ul>
		<input type="button" value="保存" class="save-data"/>
	</div>
	
	<!--主题-->
	 <div class="mcard-theme">     
	 	           
                    <div class="swiper-container swiper-container2 " id="swiper-container2">
                        <div class="swiper-wrapper swiper-wrapper2">
                          <div class="swiper-slide swiper-slide2 ">	
							 <div class="ope-swip"></div>
                    			 <iframe class="themeIfr" src="template/tempindex.html" name="weather_inc" id="themeIfr"></iframe>
                          </div>
                          <div class="swiper-slide swiper-slide2">
                          	 <div class="ope-swip"></div>
                    			 <iframe class="themeIfr" src="template/slogan.html" name="weather_inc"></iframe>
                          </div>
                        <div class="swiper-slide swiper-slide2 sli_choosed" id="add-page">新增页面</div>
                        </div>
                    </div>
                    <div class="chooseBg all_bg" >
                        <div class="swiper-container swiper-container1" id="swiper-container1">
                        <div class="swiper-wrapper swiper-wrapper1">
                           <div class="swiper-slide  sli_choosed">查看全部</div>   
                        </div>
                      </div>
                    </div> 
                     <div class="all_page" id="wrapper">
                      
							<div id="scroller" style="position: absolute;z-index: 1;">
								<ul class="gridly">
									<li><img src="img/userimg.png"><div class="page-swipe"></div><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
									<li><img src="img/userimg.png"><div class="page-del">－</div></li>
								</ul>
						</div>
                    </div>
                    
                    <!--编辑-->
                     <div class="the-edit"><span class="edit-sta">编辑</span><span class="edit-complite">完成</span></div>
     </div>
   
   <!--查看全部-->
   <div class="themeCont">
   	   <input type="button" value="确定" class="theme-comfirm"/>
	    <ul class="themeCont-list">
	    </ul>
	    <div class="swiper-box">
	    	 <div class="swiper-container swiper-container3" id="swiper-container3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide active">首页</div>
                            <div class="swiper-slide">标题</div>
                            <div class="swiper-slide">简介</div>
                            <div class="swiper-slide">标语</div>
                            <div class="swiper-slide">时间轴</div>
                            <div class="swiper-slide">职务</div>
                            <div class="swiper-slide">微店</div>
                            <div class="swiper-slide">尾页</div>
                        </div>
          </div>
	    </div>  
   </div>
     <!--底部-->
     <div class="edit-box">	
     	<div class="no-edit"></div>
     	<ul class="pro-footer">
	        <li class="active">资料</li>
	        <li>主题</li>
	        <li>背景</li>
	        <li>页面</li>
		</ul>	
     </div>
     
     <!--商品上传-->
     <div class="goods-wrap">
     	<div class="goods-box">
     	
     	<ul class="goods-list">
     		<li>
     			<div class="goods-img"><img src="img/proc.jpg" ></div>
     			<p class="goods-name">产品名称</p>
     		</li>
     		<li>
     			<div class="goods-img"><img src="img/proc.jpg" ></div>
     			<p class="goods-name">产品名称产品名称产品名称产品名称产品名称产品名称</p>
     		</li>
     		<li>
     			<div class="goods-img"><img src="img/proc.jpg" ></div>
     			<p class="goods-name">产品名称</p>
     		</li>
     		<li>
     			<div class="goods-img"><img src="img/proc.jpg" ></div>
     			<p class="goods-name">产品名称</p>
     		</li>
     		<li>
     			<div class="goods-img"><img src="img/proc.jpg" ></div>
     			<p class="goods-name">产品名称</p>
     		</li>
     		<li>
     			<div class="goods-img"><img src="img/proc.jpg" ></div>
     			<p class="goods-name">产品名称</p>
     		</li>
     	</ul>
     	<div class="up-sure">确定</div>
     		</div>
     </div>
</div>