<div class="membership" ng-controller="membershipCtrl">
   <div class="memship-info">
        <p class="memship-name">刘丹阳</p>
       <div class="cir-box">
           <div class="circle-pers">
               <p>微信支付</p>
               <p>$ 660</p>
           </div>
       </div>
       <div class="fee-info">
           <p class="year-fee">微名片账号年度使用费用 <span>$ 360</span></p>
           <p>续费后到期时间为 <span>2018年9月12日</span></p>
       </div>
       <button class="but-next">下一步</button>
   </div>
</div>