<div class="mymcard" ng-controller="mymcardCtrl">
    <div class="mengC"></div>
    <!--分享-->
    <div class="share-code">
        <img src="img/share-code.png">
        <p>刘丹阳的二维码</p>
    </div>

    <!--内容-->
    <div class="main-proc" id="scroll-content">
        <div class="scroll-wrap">
            <!--内容列表-->
            <div class="pers-cont">
                <p class="pers-tit"><i class="mc_03"></i><span>个人版</span></p>
                <ul class="pers-list">
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg" id="picture"/>
                            </dt>
                            <dd>
                                <p class="card-name">常濯非</p>
                                <p class="card-time">2016年9月1日到期</p>
                                <div class="card-edit">
                                    <span>编辑</span>
                                    <span class="card-copy">复制</span>
                                    <span class="card-delete">删除</span>
                                    <span class="share">分享</span>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg"/>
                            </dt>
                            <dd>
                                <p class="card-name">常濯非</p>
                                <p class="card-time">2016年9月1日到期</p>
                                <div class="card-edit">
                                    <span>编辑</span>
                                    <span class="card-copy">复制</span>
                                    <span class="card-delete">删除</span>
                                    <span class="share">分享</span>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
                <div class="com-cont">
                    <p class="com-tit"><span>企业版</span><i class="mc_06"></i></p>
                    <ul class="pers-list">
                        <li>
                            <dl>
                                <dt>
                                    <img src="img/userimg.jpg" class="picture"/>
                                </dt>
                                <dd>
                                    <p class="card-name">常濯非</p>
                                    <p class="card-time">2016年9月1日到期</p>
                                    <div class="card-edit">
                                        <span>编辑</span>
                                        <span>复制</span>
                                        <span class="card-delete">删除</span>
                                        <span class="share">分享</span>
                                    </div>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>
                                    <img src="img/userimg.jpg"/>
                                </dt>
                                <dd>
                                    <p class="card-name">常濯非</p>
                                    <p class="card-time">2016年9月1日到期</p>
                                    <div class="card-edit">
                                        <span>编辑</span>
                                        <span>复制</span>
                                        <span class="card-delete">删除</span>
                                        <span class="share">分享</span>
                                    </div>
                                </dd>
                            </dl>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <!--iscroll-->
   </div>

<!--底部-->
<ul class="pro-footer">
    <li class="add-word active">我的名片</li>
    <li class="add-img">我的模版</li>
</ul>

<a href="#/mcardedit"><i class="mcp_03"></i></a>
<!--底部-->

<!--删除-->
<div class="delete-confirm">
    <p>确定删除此项</p>
    <p><span class="cancel">取消</span><span class="confirm">确定</span></p>
</div>

</div>