<div class="mysinpage" ng-controller="mysinpageCtrl">
    <div class="mengC"></div>

    <!--iscroll-->
    <div class="main-proc" id="scroll-content">

        <div class="scroll-wrap">
            <!--内容列表-->
            <ul class="pers-list">
                <li>
                    <dl>
                        <dt>
                            <img src="img/userimg.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name">单页名称</p>
                            <p class="card-time">2016年9月1日创建</p>
                            <div class="card-edit">
                                <a href="#/newsinpage"><span>编辑</span></a>
                                <span>统计</span>
                                <span>删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
                 <li>
                    <dl>
                        <dt>
                            <img src="img/userimg.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name">单页名称</p>
                            <p class="card-time">2016年9月1日创建</p>
                            <div class="card-edit">
                                <a href="#/newsinpage"><span>编辑</span></a>
                                <span>统计</span>
                                <span>删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
                 <li>
                    <dl>
                        <dt>
                            <img src="img/userimg.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name">单页名称</p>
                            <p class="card-time">2016年9月1日创建</p>
                            <div class="card-edit">
                                <a href="#/newsinpage"><span>编辑</span></a>
                                <span>统计</span>
                                <span>删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
                 <li>
                    <dl>
                        <dt>
                            <img src="img/userimg.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name">单页名称</p>
                            <p class="card-time">2016年9月1日创建</p>
                            <div class="card-edit">
                                <a href="#/newsinpage"><span>编辑</span></a>
                                <span>统计</span>
                                <span>删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
                 <li>
                    <dl>
                        <dt>
                            <img src="img/userimg.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name">单页名称</p>
                            <p class="card-time">2016年9月1日创建</p>
                            <div class="card-edit">
                                <a href="#/newsinpage"><span>编辑</span></a>
                                <span>统计</span>
                                <span>删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <img src="img/userimg.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name">单页名称</p>
                            <p class="card-time">2016年9月1日创建</p>
                            <div class="card-edit">
                                <a href="#/newsinpage"><span>编辑</span></a>
                                <span>统计</span>
                                <span>删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <img src="img/userimg.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name">单页名称</p>
                            <p class="card-time">2016年9月1日创建</p>
                            <div class="card-edit">
                                <a href="#/newsinpage"><span>编辑</span></a>
                                <span>统计</span>
                                <span>删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--iscroll-->

   <a href="#/newsinpage"><i class="mcp_03"></i></a>

    <!--删除-->
    <div class="delete-confirm">
        <p>确定删除此项</p>
        <p><span class="cancel">取消</span><span class="confirm">确定</span></p>
    </div>
</div>