<div class="newsinpage" ng-controller="newsinpageCtrl">
	 <div class="mengC"></div>
    <!--iscroll-->
            <!--内容列表-->
    
    
    
     <!--<div class="main-sinpage" id="scroll-content" style="bottom: ;">
        <div class="scroll-wrap">-->
            <div class="main-proc">
	            <div class="sinpage-info">
	                <input type="text" value="微单页填写标题处" class="new-title">
	                <p class="icon"><i class="pagelogo"></i></p>
	                <div class="create-time">2016-09-01</div>
	                <div class="page-info">
	                	    <div class="word-info new-create" contenteditable="true">点击进入编辑<div class="page-delete" contenteditable="false">－</div></div>
	                    
	                </div>
	            <!--</div>
   			</div>-->
      </div>
   </div>

    <!--iscroll-->
    <ul class="pro-footer">
        <li class="add-word active">添加文字</li>
        <li class="add-img">添加图片</li>
    </ul>
    <div class="release">发布</div>
    
    <!--删除-->
<div class="delete-confirm">
    <p>确定删除此项</p>
    <p><span class="cancel">取消</span><span class="confirm">确定</span></p>
</div>
</div>