<div class="persetting" ng-controller="persetting">
    <div class="mengC"></div>
    <!--iscroll-->
    <div class="main-sinpage" id="scroll-content">
        <div class="scroll-wrap">
            <!--内容列表-->
            <div class="com-cont">
                <ul class="pers-list">
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg"/>
                            </dt>
                            <dd>
                                <p class="card-name"><span>常濯非</span><span class="state-acc active">激活</span></p>
                                <p class="c-order-ename">Jacky.chang</p>
                                <div class="card-edit">
                                    <span>编辑</span>
                                    <span class="card-delete">删除</span>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg"/>
                            </dt>
                            <dd>
                                <p class="card-name"><span>15843536753</span><span class="state-acc ">未激活</span></p>
                                <p class="c-order-ename">Jacky.chang</p>
                                <div class="card-edit">
                                    <span>短信</span>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>
                                <img src="img/userimg.jpg"/>
                            </dt>
                            <dd>
                                <p class="card-name"><span>15843536753</span><span class="state-acc ">待审核</span></p>
                                <p class="c-order-ename">Jacky.chang</p>
                                <div class="card-edit">
                                    <span>通过</span>
                                    <span>驳回</span>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--iscroll-->
</div>

</div>