<div class="productlib" ng-controller="productlibCtrl">
    <div class="mengC"></div>
    <!--iscroll-->
    <div class="main-proc" id="scroll-content">
        <div class="scroll-wrap">
            <!--内容列表-->
            <ul class="pers-list">
                <li>
                    <dl>
                        <dt>
                            <img src="img/proc.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name pro-price">￥6700</p>
                            <p class="card-time">2016年9月1日上架</p>
                            <div class="card-edit">
                                <a href="#/uploadgoods"><span class="proc-edit">编辑</span></a>
                                <span>统计</span>
                                <span class="card-delete">删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <img src="img/proc.jpg"/>
                        </dt>
                        <dd>
                            <p class="card-name pro-price">￥6700</p>
                            <p class="card-time">2016年9月1日上架</p>
                            <div class="card-edit">
                                <span class="proc-edit">编辑</span>
                                <span>统计</span>
                                <span class="card-delete">删除</span>
                            </div>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--iscroll-->
    <ul class="card-header pro-footer">
        <li class="active">我的产品</li>
        <span>我的收藏</span>
    </ul>
    <a href="#/uploadgoods"><i class="mcp_03"></i></a>
    <!--<!--<!--上传商品-->
    <!--<div class="upload-goods">
        <div class="upload-img"></div>
        <input type="text" value="商品名称" class="focus-blur">
        <input type="text" value="商品描述" class="focus-blur">
        <input type="text" value="商品价格" class="focus-blur">
        <input type="text" value="售卖网址或介绍页地址" class="focus-blur">
        <input type="button" value="确定" id="upload-confirm">
    </div>-->
    <!--删除-->
    <div class="delete-confirm">
        <p>确定删除此项</p>
        <p><span class="cancel">取消</span><span class="confirm">确定</span></p>
    </div>
</div>