<div class="setting" ng-controller="settingCtrl">
   <ul class="sett-info">

     <!-- <a href="#/accountmanage"><li class="sett-1">
           <span>账号管理</span>
           <span>常濯非</span>
       </li></a>-->

      <a href="#/changetel"><li class="sett-2">
          <span>手机号码</span>
          <span>15794857835</span>
      </li></a>

       <a href="#/vipmember"><li class="sett-3">
           <span>VIP会员</span>
           <span>10天</span>
       </li></a>

   </ul>
    <ul class="help-info">
      <!--  <a href="#/contactprivacy"><li><span>联系人 隐私</span><span></span></li></a>-->
        <Li>帮助</Li>
    </ul>
</div>