<div class="systeminfo" ng-controller="systeminfoCtrl">
    <!--iscroll-->
    <div class="main-sysinfo" id="scroll-content">
        <div class="scroll-wrap">
            <!--内容列表-->
            <ul class="sysinfo-list">
                <li>
              	<i class="chooseic"></i>
                	<span class="news-info">习近平在二十国集团领导人杭州峰会上习近平在二十国集团领导人杭州峰会上习近平在二十国集团领导人杭州峰会上习近平在二十国集团领导人杭会上习近平在二十国会上习近平在二十国集团领导人杭州峰会上</span>
                	   <i class="packup"></i>
                </li>
                <li>
                	<i class="chooseic"></i>
                    <span class="news-info">习近平在二十国集团领导人杭州峰会上习近平在二十国集团领导人杭州峰会上</span>
                   <i class="packup"></i>
                </li>
              
               
            </ul>
        </div>
    </div>
    <!--iscroll-->

    <!--选择-->
    <div class="sys-footer">
    	  <p class="sys-choose">选择</p>
    	  <div class="sys-choosed">
    	  	<span class="all-choose">全选</span>
    	  	<span class="news-read">已读</span>
    	  	<span class="news-del">删除</span>
    	  </div>
    </div>
</div>