<div class="vipmember" ng-controller="vipmemCtrl">
     <img src="img/logo.png" class="vipm-logo">
     <div class="vip-logo"><img src="img/userimg.png"></div>
      <p class="vip-name">刘丹阳</p>
      <p>会员身份:  VIP1</p>
    <p>会员到期时间:  <span>2016-09-08</span></p>
    <a href="#/membership"><input type="button" value="续费会员"  id="mem-fee"></a>
    <p class="purtit">购买记录</p>
   <div class="pur-history">
       <p><span>2015-09-08</span><span>  660元</span><span>  支付成功</span></p>
       <p><span>2016-09-16</span><span>  550元</span><span>  支付失败</span></p>
   </div>
</div>